@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --dark-text:56,	56,	56;
  --mustard: 246,	199,	68;
  --light-mustard: 233,	174, 87;
  --maroon: 184,	74,	69;


}

[data-theme= 'light'] {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
    --third-color: 184,	74,	69;
    --secondary-color: 184,	74,	69;
    --primary-color: 246,	199,	68;
    --fourth-color: 233,	174, 87;
    --fifth-color: 246,	199,	68;
  

}

[data-theme= 'dark'] {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --fourth-color: 56,	56,	56;
  --third-color: 56,	56,	56;
  --secondary-color: 184,	74,	69;
  --primary-color: 254,	253,	242;
  --fifth-color:  56,	56,	56;

  
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--primary-color))
    )
    rgb(var(--primary-color));
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

